article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: 'Open Sans', arial, sans-serif;
  color: #222;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
  background-color: #eae9e4;
  background-image: url(../img/background.png);
}
html,
body {
  min-height: 101%;
}
::-moz-selection {
  background: gray;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: gray;
  color: #fff;
  text-shadow: none;
}
a {
  color: black;
}
a:visited {
  color: #551a8b;
}
a:hover {
  color: #06e;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#main-wraper {
  min-height: 70%;
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  filter: brightness(1);
  -webkit-filter: brightness(1);
  -moz-filter: brightness(1);
  -o-filter: brightness(1);
  -ms-filter: brightness(1);
  /* HEADER */

}
#main-wraper.anim {
  filter: brightness(0);
  -webkit-filter: brightness(0);
  -moz-filter: brightness(0);
  -o-filter: brightness(0);
  -ms-filter: brightness(0);
}
#main-wraper #header {
  overflow: hidden;
  margin: 20px 0;
  padding: 5px;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
  box-shadow: 0 0 0 gray;
  transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -webkit-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
}
#main-wraper #header:hover {
  box-shadow: 0 3px 4px gray;
}
#main-wraper #header #logo {
  text-shadow: 2px 1px 3px gray;
}
#main-wraper #header #logo #logo-name {
  margin: 0;
  font-size: 53px;
  padding: 0;
  margin-bottom: -15px;
  font-family: 'Yanone Kaffeesatz';
}
#main-wraper #header #logo #logo-profession {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  font-size: 27px;
  letter-spacing: 0;
  word-spacing: -5px;
}
#main-wraper #header #nav {
  height: 25px;
  position: relative;
  top: 10px;
  padding-top: 55px;
  padding-left: 10px;
  overflow: hidden;
}
#main-wraper #header #nav ul li {
  margin-right: 30px;
  position: relative;
  height: 20px;
  overflow: hidden;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
}
#main-wraper #header #nav ul li:hover {
  height: 25px;
}
#main-wraper #header #nav ul li.selected-menu {
  height: 25px;
}
#main-wraper #header #nav ul li a {
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
}
#main-wraper #header #nav ul li .underline {
  display: block;
  width: 100%;
  background-color: black;
  height: 3px;
}
#main-wraper #content {
  max-width: 1210px;
  margin: auto;
}
#main-wraper #content .sectionsHolder {
  margin-bottom: 120px;
}
#main-wraper #content .item {
  width: 300px;
  height: 170px;
  overflow: hidden;
  position: relative;
  background: #888;
  color: #222;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
}
#main-wraper #content .item:hover > figure {
  top: -170px;
}
#main-wraper #content .item:hover > .item-description {
  top: 0;
}
#main-wraper #content .item:hover > .item-description a {
  top: 140px;
  opacity: 0.7;
}
#main-wraper #content .item img {
  width: 300px;
}
#main-wraper #content .item figure {
  position: absolute;
  transition: top 0.3s;
  -moz-transition: top 0.3s;
  -webkit-transition: top 0.3s;
  -o-transition: top 0.3s;
}
#main-wraper #content .item .item-description {
  position: absolute;
  width: 280px;
  height: 180px;
  background-image: url(../img/pattern.png);
  background-color: white;
  top: 200px;
  opacity: 0.9;
  padding: 10px;
  transition: top 0.3s;
  -moz-transition: top 0.3s;
  -webkit-transition: top 0.3s;
  -o-transition: top 0.3s;
}
#main-wraper #content .item .item-description a {
  text-decoration: none;
  position: absolute;
  top: 200px;
  right: 10px;
  opacity: 0;
  color: black;
  transition: all 0.7s;
  -moz-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
}
#main-wraper #content .item .item-description a:hover {
  opacity: 1;
}
#main-wraper #footer {
  width: 100%;
  margin-top: 50px;
  bottom: 0;
  height: 50px;
  position: fixed;
  border-top: 1px solid black;
  background-color: #eae9e4;
  background-image: url(../img/background.png);
  transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -webkit-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
}
#main-wraper #footer:hover {
  box-shadow: 0 -3px 4px #808080;
}
#main-wraper #footer ul {
  list-style-type: none;
}
#main-wraper #footer ul li {
  float: left;
  margin-right: 15px;
}
#main-wraper #footer ul li a {
  text-decoration: none;
  font-size: 12px;
  opacity: 0.7;
  transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}
#main-wraper #footer ul li a:hover {
  opacity: 1;
  color: black;
}
/* ==|== non-semantic helper classes ========================================
   ========================================================================== */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.btn {
  cursor: pointer;
}
.overflow-hidden {
  overflow: hidden;
}
.brightness0 {
  filter: brightness(0);
  -webkit-filter: brightness(0);
  -moz-filter: brightness(0);
  -o-filter: brightness(0);
  -ms-filter: brightness(0);
}
.brightness1 {
  filter: brightness(1);
  -webkit-filter: brightness(1);
  -moz-filter: brightness(1);
  -o-filter: brightness(1);
  -ms-filter: brightness(1);
}
.anim {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
}
.anim-intro {
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
}
.preloading {
  pointer-events: none !important;
  cursor: progress !important;
}
/*/* ==|== media Querries =======================================================
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
@media screen and (max-width: 1240px) {
  #content {
    width: 930px;
    margin: auto;
  }
}
@media screen and (max-width: 930px) {
  #content {
    width: 620px;
    margin: auto;
  }
  #logo {
    width: 305px;
    margin: auto;
    float: none;
  }
  #nav {
    padding-top: 0 !important;
    width: 320px;
    margin: auto;
    float: none;
    padding-top: 5px;
  }
  #footer {
    position: relative;
  }
  #nav ul li:first-child {
    margin-left: 16px;
  }
}
@media screen and (max-width: 605px) {
  #content {
    width: 300px;
    margin: auto;
  }
  #nav {
    padding-top: 0 !important;
  }
}
@media screen and (orientation: portrait) {
  
}
@media screen and (orientation: landscape) {
  
}
